<div class="input-group">
  <input type="text" readonly class="form-control"
         style="background: white;"
         close-text="关闭"
         current-text="今日"
         clear-text="清空"
         on-open-focus="false"
         show-button-bar="false"
         uib-datepicker-popup="{{$ctrl.format}}" is-open="$ctrl.isOpen"
         datepicker-options="$ctrl.datepickerOptions"
         ng-click="$ctrl.open()"
         ng-model="$ctrl.ngModel">
  <!--<span class="input-group-btn">-->
  <!--<button type="button" class="btn btn-default" ng-click="$ctrl.isOpen=!$ctrl.isOpen"><i-->
  <!--class="glyphicon glyphicon-calendar"></i></button>-->
  <!--</span>-->
</div>
